services:
  db:
    image: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: postgres 
  minio:
    image: bitnami/minio
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      MINIO_BROWSER: "on"
  db-adminer:
    image: adminer
    ports:
      - 8080:8080